<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'css/essay.css' %}" rel="stylesheet">
    <script src="{% static 'js/essay.js' %}"></script>
</head>
<body>
<div class="back">
    <p style="font-size: 25px;text-align: center;">
        {{ data.title }}&nbsp;&nbsp;&nbsp;
    </p>

    {% autoescape off %}
        {{ data.essay }}
    {% endautoescape %}
<p style="text-align: right;">
    {{ data.username }}&nbsp;&nbsp;&nbsp;{{ data.time }}
</p>
</div>
<div class="press">
    <p>Copyright©2019{{ data.username }} Powered by Django2.0 on Linux</p>
</div>
</body>
</html>